<!-- <a href="/Junes-Tarot/"><img id="header-img" src="{{page.header-image}}"/></a> -->
<div id="header-img-div">
  <a id="header-a" href="/Junes-Tarot/"><h1 id="header-h1">Tarot By June</h1></a>
  <p id="header-p">for when you just don't know <span id="wtf">WTF</span></p>
</div>
<nav id="browser-nav">
  <ul class="nav-bar">
    <li class="dropdown"><a id="pr-dropdown" href="/Junes-Tarot/private-readings/">Private Readings</a>
      <div class="dropdown-content">
        <a href="/Junes-Tarot/private-readings/#live-oremail">Email VS Live Readings</a>
        <a href="/Junes-Tarot/private-readings/#rates">Rates</a>
      </div>
    </li>
    <li><a id="booking-a" href="/Junes-Tarot/booking/">Book A Reading</a></li>
    <li class='dropdown'><a id="faq-dropdown" href="/Junes-Tarot/faq/">FAQ</a>
      <div class="dropdown-content">
        <a href="/Junes-Tarot/faq/#payment">Payment Methods</a>
        <a href="/Junes-Tarot/faq/#policies">Policies</a>
        <a href="/Junes-Tarot/faq/#walkinhours">Walk In Hours</a>
      </div>
    </li>
  </ul>
</nav>
