<!-- <img src="images/june-header.png"/> -->
<nav>
  <ul id="nav-bar">
    <li class="dropdown"><a id="pr-dropdown"" href="/Junes-Tarot2/private-readings/">Private Readings</a>
      <div class="dropdown-content">
        <a href="#">EMAIL VS LIVE READING</a>
        <a href="#">RATES</a>
      </div>
    </li>
    <li><a href="/Junes-Tarot2/booking/">Book A Reading</a></li>
    <li class='dropdown'><a id="faq-dropdown" href="/Junes-Tarot2/faq/">FAQ</a>
      <div class="dropdown-content">
        <a href="#">PAYMENT METHODS</a>
        <a href="#">POLICIES</a>
        <a href="#">WALK IN HOURS</a>
      </div>
    </li>
  </ul>
</nav>
