:root {
  --red: #d00705;
  --greyline: #898989;
  --lightblue: #30abef;
  --puceblue: #3d5a6c;
  --golden: #a68f46;
  --whitedsmoke: #f5f5f5;
  --babypowder: #FEFEFA;
  --babyblue: #85e1db;
  --yellow: #eace31;
}

/* experimental css for main page */
.main-page-img {
  width: 20%;
  height: 33vw;
  margin: 2vw;
  border-radius: 10%;
  border: .5vw solid var(--babypowder);
  background: black;
  background-image: url('images/tarot-card-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  -webkit-box-shadow: 0px 3px 64px -13px rgb(61, 90, 108, .75);
  -moz-box-shadow: 0px 3px 64px -13px rgb(61, 90, 108, .75);
  box-shadow: 0px 3px 64px -13px rgb(61, 90, 108, .75);
}

#main-image-text {
  color: var(--puceblue);
  font-family: 'Lato', sans-serif;
  width: 70%;
  text-align: center;
  margin: 3vw auto 2vw;
  background: none;
  font-size: 1.7vw;
}

#two-cups:hover {
  background: var(--puceblue);
  background-size: contain;
  repeat: no-repeat;
  background-image: url('images/two-of-cups.png');
  transition: .5s ease-in-out;
}

#hierophant:hover {
  background: var(--puceblue);
  background-size: cover;
  repeat: no-repeat;
  background-image: url('images/the-hierophant.png');
  transition: .5s ease-in-out;
}

#page-cups:hover {
  background: var(--puceblue);
  background-size: contain;
  repeat: no-repeat;
  background-image: url('images/page-of-cups.png');
  transition: .5s ease-in-out;
}

/* GENERAL */
html {
  width: 100vw;
}

body {
  position: relative;
  width: 100vw;
  background: var(--babypowder);
}

* {
  background: var(--babypowder);
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
}

nav {
  width: 100%;
  padding-bottom: .5vw;
  border-bottom: .02vw solid var(--puceblue);
}

div {
  position: relative;
}

h2 {
  position: relative;
  margin-top: 2vw;
  color: var(--puceblue);
  font-family: 'Lato', sans-serif;
  /* font-family: 'Aladin', cursive; */
  /* font-family: 'Bad Script', cursive; */
  text-align: center;
  text-decoration: underline;
  font-size: 2VW;
  font-weight: 600;
}

h3 {
  color: var(--lightblue);
  font-size: 1.7vw;
}

h4 {
  font-size: 1.5vw;
}

a {
  color: var(--red);
  font-weight: bold;
}

.main a {
  text-decoration: underline;
}

.main a:hover {
  color: var(--yellow);
  cursor: pointer;
}

.main {
  /* position: relative; */
  /* margin: auto 5vw; */
  margin: auto;
  background: var(--babypowder);
  z-index: 1;
}

.contact-me-link {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 1.7vw;
}

.textalign-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-decoration {
  text-decoration: underline;
}

.flex-container {
  display: inline-flex;
  justify-content: flex-start;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.faq-page-img, .pr-page-img {
  max-width: 27vw;
  max-height: 27vw;
  border-radius: 15%;
}

hr {
  clear: both;
}

/* SOCIAL MEDIA DIV */
#social-media {
  display: block;
  /* background: var(--puceblue); */
  background: rgba(0, 0, 0, 0);
  height: 20vw;
  width: 4.5vw;
  right: 0;
  top: 0;
  margin-top: 27vw;
  position: fixed;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: .5vw;
  z-index: 15;
}

#social-media img {
  width: 4vw;
  display: block;
  margin: 1.5vw auto;
  background: var(--puceblue);
  border-radius: .5vw;
}

/* NAV BAR */
#nav-bar {
  width: 100%;
  display: inline-flex;
  list-style: none;
  /* background: var(--babypowder); */
  margin-bottom: 0vw;
}

#nav-bar li {
  margin: auto;
  text-align: center;
  width: 30%;
  height: 3vw;
  margin-bottom: -.01vw;
}

#nav-bar a {
  color: black;
  /* background: white; */
  font-family: 'Bad Script', cursive;
  font-size: 1.7vw;
  margin: auto;
  padding: none;
}

#nav-bar a:hover {
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
}

#header-img {
  width: 100%;
  /* padding-left: 4vw; */
  background: var(--babypowder);
}

/* DROPDOWN */
li .dropdown {
  position: absolute;
}

#pr-dropdown {
  margin-bottom: 2vw;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  /* top: 20vw; */
  margin-top: -2vw;
  text-align: center;
  width: 15vw;
  margin-left: 8vw;
  border-radius: .5vw;
}

.dropdown-content a {
  display: block;
  text-align: left;
  background: var(--babypowder);
  padding: .7vw 1vw;
  border-bottom: .05vw solid var(--greyline);
  font-size: 1.7vw;
  line-height: 150%;
}

.dropdown:hover .dropdown-content {
  margin-top: .5vw;
  max-height: 30vw;
  position: relative;
  z-index: 10;
  border-top: .05vw solid var(--greyline);
  -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.29);
}

/* MAIN PAGE  */
#main-body {
  background: rgba(132, 224, 218, 0.2);
  text-align: center;
  width: 100%;
  position: relative;
}

/* #main-image-text {
  color: var(--babypowder);
  font-family: 'Lato', sans-serif;
  width: 40%;
  text-align: right;
  margin-top: 6vw;
  margin-left: 42vw;
  position: absolute;
  background: none;
  font-size: 2vw;
} */
#main-page-image {
  background: rgba(132, 224, 218, 0.2);
  width: 65%;
  margin: 5vw auto;
  border-radius: 1vw;
}

/* PRIVATE READINGS PAGE */
.pink-div {
  background: rgb(232, 159, 201, .3);
}
.pink-div, .blue-div, .yellow-div {
  padding: 2vw;
  border-radius: 3vw;
}
#private-readings, #live-oremail, #rates, #payment, #policies, #walkinhours {
  border-radius: 7vw;
  padding: 2vw 3vw 3vw;
  width: 95%;
  margin: auto;
}

.blue-div {
  background: rgba(132, 224, 218, 0.2);
}
#private-readings-section-img {
  margin: -25vw 1vw 5vw auto;
}

#live-oremail-psection {
  width: 75%;
  clear: both;
  margin-left: 23vw;
}

#live-or-email-img {
  margin: -28.5vw 3.5vw 5vw 1vw;
  z-index: 15;
  /* max-height: 24vw; */
}
.yellow-div {
  background: rgb(218, 175, 2, .3);
}
#rates-section-img {
  margin: 5vw auto 5vw 10vw;
}

#private-readings p, #live-oremail p, #payment p, #policies p, #walk-in-p, #first-n-third-saturdays {
  margin: 2.2vw auto;
  line-height: 150%;
}

#rates-table {
  margin-left: 2vw;
  margin-bottom: 5vw;
  /* width: 20vw; */
}

.table-left {
  width: 35vw;
}
.table-right {
  width: 10vw;
}

/* BOOKING PAGE */
form {
  width: 60%;
  margin: auto auto 5vw;
}

.form-row {
  margin-bottom: 2vw;
}

button {
  background: var(--red);
  color: var(--babypowder);
  width: 18%;
  margin-left: 41%;
  margin-top: 2.5vw;
}

#booking-img {
  width: 20%;
  margin: 3vw 40% 2vw;
  border-radius: 50%;
}

/* FAQ PAGE */
#payment {
  background: var(--babypowder);
}
#payment-section-img {
  max-width: 25vw;
  max-height: 25vw;
  margin: -25vw 2vw 5vw auto;
}
#payment-list {
  color: var(--golden);
  width: 55%;
  margin-top: 2.2vw;
  margin-bottom: 2.2vw;
  line-height: 150%;
}
.negative-margin-bottom h3 {
  margin-bottom: -10vw;
}

.vl {
  height: 60vw;
  width: .2vw;
  background: var(--greyline);
  margin: 5vw 2vw auto;
}

#cancel-section-right {
  width: 80%;
}

/* #reschedule-section-img {
  max-width: 37vw;
  max-height: 37vw;
  margin: 5vw;
} */
#reschedule-images {
  width: 100;
  display: inline-block;
}
#reschedule-images img {
  width: 20vw;
  height: 20vw;
  display: inline-block;
  margin: 1.5vw
}
#walkin-section-img {
  margin: 5vw 5vw 5vw 7vw;
}

#walk-in-table-left {
  width: 10vw;
  margin-left: 4vw;
}

#walk-in-table-right {
  margin: auto 3vw auto 3vw;
}

#rights-reserved {
  font-size: 1.3vw;
  margin-top: 3vw;
}

/* FOOTER */
footer {
  background: black;
  width: 100%;
  margin-top: 3vw;
  margin-left: 0;
}

footer p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  margin-top: 0;
  background: black;
  color: var(--babypowder);
  line-height: 200%;
  margin-left: 3vw;
  width: 100vw;
}
/*
font-family: 'Aladin', cursive;
font-family: 'Redressed', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Short Stack', cursive;
font-family: 'Itim', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Lato', sans-serif; */
