<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{page.title}}</title>
  <!-- ======== DOWNLOADED FONTS LINK ========== -->
  <link rel="stylesheet" type="text/css" href="assets/css/fonts/fonts.css" />
  <!-- ============= MAGNIFIC LINK FOR MAIN PAGE =============== -->
  <link rel="stylesheet" type="text/css" href="assets/css/magnific.css" />
  <!-- ========== BOOTSTRAP LINK ============ -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- ========== GOOGLE FONTS LINK ======== -->
  <link href="https://fonts.googleapis.com/css?family=Aladin|Bad+Script|Lato|PT+Sans|Patrick+Hand+SC|Poppins|Source+Sans+Pro" rel="stylesheet">
  <!-- =========== REGULAR CSS LINK =====  -->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" type="image/png" href="../assets/css/images/favicon.png">
</head>

<body>
  <div id="overflow-div">
    {% include header.html %}
    {{ content }}
    <!-- ========SOCIAL MEDIA SECTION ======= -->
    <div id="social-media">
      <a target="blank" href="https://www.instagram.com/{{ site.instagram_username }}"><img src="assets/css/images/Wumi_Instagram.png" /></a>
      <a target="blank" href="https://www.facebook.com/{{ site.facebook_username }}"><img src="assets/css/images/Wumi_Facebook.png" /></a>
      <a href="/Junes-Tarot/booking"><img src="assets/css/images/Wumi_Mail.png" /></a>
    </div>
    <!-- ========= FOOTER ======== -->
    <footer>
      <p>&copy; 2018 Designed and Built by Laura Levenhagen</p>
    </footer>
  </div>
  <!-- ======= MOBILE NAV ======= -->
  <nav id="mobile-nav">
    <ul class="mobile-nav-bar">
      <li class="nav-item"><a href="/Junes-Tarot/"><img id="home-icon" src="assets/css/images/home-icon.png" alt="house icon, click for main page" /></a></li>
      <li class="nav-item"><a href="/Junes-Tarot/private-readings/">Private Readings</a></li>
      <li class="nav-item"><a href="/Junes-Tarot/booking/">Book A Reading</a></li>
      <li class="nav-item" id="mobile-nav-faq"><a href="/Junes-Tarot/faq/">FAQ</a></li>
    </ul>
  </nav>
  <!-- =========JQUERY============ -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <!-- ====== INSTAFEED SCRIPT======= -->
  <script type="text/javascript" src="js/instafeed.min.js"></script>
  <!-- ========== BOOTSTRAP SCRIPT ======== -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- ======== MAIN APP JAVASCRIPT LINK ======= -->
  <script src="js/app.js" charset="utf-8"></script>
  <!-- =========MAGNIFIC SCRIPT ============= -->
  <script type="text/javascript" src="js/magnific.min.js"></script>
  </div>

</body>

</html>
