<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <a href="/"><img id="header-img" src="../assets/css/images/june-header-blue.png"/></a>
      {% include header.html %}
      {{ content }}
      <footer>
        <p>&copy; 2018 Designed and Built by Laura Levenhagen</p>
      </footer>
  </body>
</html>
